<div class="container">
  <div class='user-info-container'>
    <% if @user.photo.present? %>
      <div class="user-photo">
        <%= image_tag @user.photo %>
      </div>
    <% else %>
      <div class="user-photo">
        <p> No photo!</p>
      </div>
    <% end %> 
    <div class='user-info'>  
      <p class="user-name"><%= link_to @user.name, user_path(@user) %></p>
      <p class="posts-counter">Number of posts: <%= @user.posts_counter %></p>
    </div>
  </div>
  <% @posts.each do |post| %>
    <div class="post-info">
      <p>Post #<%= post.id %></p>
      <p><%= link_to post.text.truncate(100), user_post_path(post.author, post.id) %></p>
      <div class="likes-comments">
        <p>Comments: <%= post.comments_counter %></p>
        <p>Likes: <%= post.likes_counter %></p>
      </div>
    </div>
      <div class="comments-section<%= ' with-border' if post.comments_counter > 0 %>">
      <% post.recent_comments.each do |comment| %>
        <div>
          <p><%= comment.author.name %>: <%= comment.text %></p>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="button-container">
    <button>
      <%= link_to 'Pagination', user_post_path(@user, @posts.first) %>
    </button>
  </div>
</div>


